.reg-container {
  margin: 0px;
  height: 85vh;
  width: 99vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 30%;
  backdrop-filter: blur(2px) saturate(120%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(251, 251, 251, 1);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.reg-option a {
  font-size: 20px;
  width: 40%;
  font-family: Archivo, Helvetica, sans-serif, Arial;
  padding: 4px 12px;
  border-radius: 5px;
}

.admin-section .reg-option a{
  border: 2px solid #e91965;
  color: #e91965;
}

.reg-option a:hover {
  cursor: pointer;
}

.signupEmail::placeholder {
  /* padding: 4px; */
  padding-left: 12px;
}

.signupPassword::placeholder {
  /* padding: 4px; */
  padding-left: 12px;
}

.LoginEmail::placeholder {
  /* padding: 4px; */
  padding-left: 12px;
}

.LoginPassword::placeholder {
  /* padding: 4px; */
  padding-left: 12px;
}

.reg-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 70%;
  margin: 30px;
}

.card-component {
  /* border: 2px solid red; */
  width: 70%;
  margin: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 32px;
  color: black;
}

.signup-btn,
.login-btn {
  border-radius: 5px;
  width: 25%;
  font-family: Archivo, Helvetica, sans-serif, Arial;
  height: 36px;
  border: none;
}

.admin-section .signup-btn,.admin-section .login-btn{
  background: #e91965;    
}

.signup-btn:hover,
.login-btn:hover {
  cursor: pointer;
}