.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-sizing: border-box;
  backdrop-filter: blur(2px) saturate(130%);
  background-color: #262726
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 24px;
  height: 50px;
  text-align: center;
  width: 40%;
}

.nav-links a{
  width: 8vw;
  font-family: Klein,sans-serif;
}

.nav-links .admin {
  background-color: #e91965;
  color: white;
}

.nav-links .student {
  background-color: #1976d2;
  color: white;
}

.navlink-btn {
  padding: 4px 16px;
  /* margin-left: 16px; */
  border-radius: 5px;
}

.navlink-btn:hover {
  cursor: pointer;
}

.logo {
  font-family: Clash Display, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #1976d2;
  font-size: 28px;
  margin: 15px;
  margin-left: 24px;
}

#standard-basic::placeholder{
  color: #fff;
}

.student-nav-links{
  width: 20%;

}