.navbar {
  background-color: rgba(10, 10, 10, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin: 0px;
  padding: 0px;
  width: 118%;
  position: sticky;
  top: 0px;
  z-index: 10;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px) saturate(130%);
  -webkit-backdrop-filter: blur(2px) saturate(100%);
  background-color: rgba(10, 10, 10, 0.4);
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
  font-size: 24px;
  height: 50px;
  text-align: center;
}

.nav-links a{
  width: 12vw;
}

.nav-links .admin {
  background-color: #e91965;
  color: white;
}

.nav-links .student {
  background-color: #1976d2;
  color: white;
}

.navlink-btn {
  color: #1976d2;
  padding: 4px 16px;
  margin: 8px;
  border-radius: 5px;
}

.navlink-btn:hover {
  cursor: pointer;
}

.logo {
  font-family: Clash Display, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #1976d2;
  font-size: 28px;
  margin: 15px;
  margin-left: 40px;
}