.cards {
  width: 400px;
  height: 480px;
  margin: 30px;
  /* border: 2px solid red; */
  border-radius: 8px;
  background-color: white;
}

.cards img {
  border-radius: 8px 8px 0px 0px;
  width: 400px;
  height: 240px;
}

.cards p {
  font-size: 18px;
}

.purchase-btn {
  background: #1976d2;
  border-radius: 5px;
  width: 25%;
  font-family: Archivo, Helvetica, sans-serif, Arial;
  height: 36px;
  border: none;
}
