.user-section .reg-option a{
    border: 2px solid #1976d2;
    color: #1976d2;
  }
  
  .user-section .signup-btn,.user-section .login-btn{
    background: #1976d2;    
  }

  .reg-option {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: space-between;
    /* border: 2px solid red; */
    width: 70%;
    margin: 30px;
  }

  .reg-option a {
    font-size: 20px;
    width: 40%;
    font-family: Archivo, Helvetica, sans-serif, Arial;
    padding: 4px 12px;
    border-radius: 5px;
  }
  
  .admin-section .reg-option a{
    border: 2px solid #e91965;
    color: #e91965;
  }
  
  .reg-option a:hover {
    cursor: pointer;
  }