#wishlist-div{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#wishlist-heading{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 40px;
    width: 100vw;
    font-size: 48px;
    color: #fff;
}